/* 
.frm-Mngmt{
    display: flex;
    flex-wrap: wrap;
} */
* {
  font-family: "Arial, sans-serif";
}

@media print {
  body {
    width: 100%;
  }
  .content {
    page-break-inside: avoid;
  }
  .page-break {
    page-break-before: always;
  }
}

